.genre-container {
  padding-top: 25px;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 100%;
  background-color: rgb(13, 38, 57);
  justify-content: space-around;
}
.top-artist {
  border-bottom: 2px solid rgb(194, 194, 194);
  padding-left: 10px;
  width: 33.33%;
}
.top-artist h3 {
  padding: 20px;
}
.top-album {
  border-bottom: 2px solid rgb(194, 194, 194);
  width: 33.33%;
  padding-left: 10px;
}
.top-album h3 {
  padding: 20px;
}
.top-track {
  width: 33.33%;
  border-bottom: 2px solid rgb(194, 194, 194);
  padding-left: 10px;
}
.top-track h3 {
  padding: 20px;
}
.new-release {
  padding-top: 20px;
}
.new-albums-genre {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  font-size: 18px;
  font-weight: 300;
}
.artist-link {
  padding: 5px;
  border-radius: 5px;
  color: white;
}
.artist-link:hover {
  background-color: rgb(82, 172, 192);
}
.headers {
  border-bottom: 2px solid rgb(215, 215, 215);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.genre-container {
  border-bottom: 2px solid rgb(194, 194, 194);
}
